@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Błąd";
}

@RenderPage("~/Views/Komunikat.cshtml");
<h1 class="text-danger">Błąd krytyczny</h1>
<h2 class="text-danger">Wystąpił błąd podczas przetwarzania żądania.</h2>

