@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<form action="/Connect/Connecting" method="post">
    <fieldset>
        <legend>
            Tworzenie Poloaczenia
        </legend>
        <div class="edit_label"> Ip  </div>
        <div class="=" editor-field">
            <input name="Ip" value="192.168.56.136" />
        </div>

        <div class="edit_label"> Ip  </div>
        <div class="=" editor-field">
            <input name="Login" value="deb" />
        </div>

        <div class="edit_label"> Ip  </div>
        <div class="=" editor-field">
            <input name="Key" value="deb" />
        </div>

        <p><input type="submit" value="Connecting" /></p>
    </fieldset>

</form>