
@{
    ViewBag.Title = "Zadanie";
}

<h2>Zadanie</h2>

<form action="/Connect/Zadanie" method="post">
    <fieldset>
        <legend>
            Zadania
        </legend>
        <div class="edit_label">zadanie</div>
        <div class="=" editor-field">
            <input name="key_2" value="key_2" />
        </div>
        <p><input type="submit" value="Wyslij" /></p>
    </fieldset>
</form>

    <h2>------------------</h2>
    @ViewBag.news
    <h2>------------------</h2>
